html{
    font-size: 22px ;
}
body{
    background-color:#333 ;
    color: whitesmoke;
    color-scheme: dark;
}

a{
    color: aliceblue ;
}

a:visited{
    color: aliceblue;
}

a:hover , a:active{
    color: #eee;
}

table ,tr, th , td,caption{
    border: 1px solid #eee;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}